pipeline/Pipeline 2.json
{
	"name": "Pipeline 2",
	"properties": {
		"activities": [
			{
				"name": "LoadSCD_T2_Customers",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DumCustomerSCD2Load",
						"type": "DataFlowReference",
						"parameters": {
							"CustomersTable": {
								"value": "'@{pipeline().parameters.CustomerTable}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"Customers": {
								"CustomersTable": {
									"value": "@variables('CustomerTable')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceParameters": {
							"Customers": {
								"schemaLinkedService": {
									"CustomersTable": {
										"value": "@variables('CustomerTable')",
										"type": "Expression"
									}
								}
							}
						}
					},
					"staging": {
						"linkedService": {
							"referenceName": "AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"folderPath": "maxminetl"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupConfigTableValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CustomerTable",
					"value": {
						"value": "@string(activity('LookupConfigTableValue').output.firstRow.RunSeqNo)\r\n\r\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LookupConfigTableValue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select ConfigDescValue from dbo.Config where ConfigDesc = 'SourceTable'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ConfigTableDS",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"CustomerTable": {
				"type": "String"
			}
		},
		"variables": {
			"CustomerTable": {
				"type": "String"
			}
		},
		"annotations": []
	}
}